nvidia-cudnn-cu13==0.0.0
nvidia-cusparselt-cu13==0.0.0
nvidia-nccl-cu13==0.0.0
nvidia-nvshmem-cu13==0.0.0
nvidia-cublas==0.0.0
nvidia-cuda-runtime==0.0.0
nvidia-cufft==0.0.0
nvidia-cufile==0.0.0
nvidia-cuda-cupti==0.0.0
nvidia-curand==0.0.0
nvidia-cusolver==0.0.0
nvidia-cusparse==0.0.0
nvidia-nvjitlink==0.0.0
nvidia-cuda-nvrtc==0.0.0
nvidia-nvtx==0.0.0
cuda-toolkit==0.0.0
cuda-bindings==0.0.0
cuda-pathfinder==0.0.0
triton==0.0.0